// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
@import '~vuetify/src/styles/styles.sass';

/*$material-light: ( 'background': #faf7f2 );
$material-dark: ( 'background': #001e26 );*/


// $font-size-root: 20px;

// font-family
$font-family: 'Josefin Sans', sans-serif !important;
$font-family-Rubik: 'Rubik', sans-serif !important;

// font-size
$h1-font-size: 50px;
$h2-font-size: 42px;
$h3-font-size: 30px;
$h4-font-size: 25px;
$h5-font-size: 20px;
$h6-font-size: 15px;
// font-size

// Font weight
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;


//text-color
$p-light-text: 300;

$grid-breakpoints: (
  'xs': 0,
  'sm': 340px,
  'md': 540px,
  'lg': 800px - 24px,
  'xl': 1280px - 24px
);


// Base unit
$unit: 8px;

// Spacing unit
$py-20: 100px;
$spacing1: 1 * $unit; //8
$spacing2: 2 * $unit; //16
$spacing3: 3 * $unit; // 24
$spacing4: 4 * $unit;
$spacing5: 5 * $unit;
$spacing6: 6 * $unit;
$spacing7: 7 * $unit;
$spacing8: 8 * $unit;
$spacing9: 9 * $unit;
$spacing10: 10 * $unit;
$spacing11: 11 * $unit;
$spacing12: 12 * $unit;
$spacing13: 13 * $unit;
$spacing14: 14 * $unit;
$spacing15: 15 * $unit;
$spacing16: 16 * $unit;
$spacing17: 17 * $unit;
$spacing18: 18 * $unit;
$spacing19: 19 * $unit;
$spacing20: 20 * $unit;
